.navbar-pink {
  background-color: #ffe7eb;
  border-color: #ffb4c0;
}
.navbar-pink .navbar-brand {
  color: #999999;
}
.navbar-pink .navbar-brand:hover,
.navbar-pink .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-pink .navbar-text {
  color: #999999;
}
.navbar-pink .navbar-nav > li > a {
  color: #999999;
}
.navbar-pink .navbar-nav > li > a:hover,
.navbar-pink .navbar-nav > li > a:focus {
  color: #f59090;
  background-color: transparent;
}
.navbar-pink .navbar-nav > .active > a,
.navbar-pink .navbar-nav > .active > a:hover,
.navbar-pink .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ffb4c0;
}
.navbar-pink .navbar-nav > .disabled > a,
.navbar-pink .navbar-nav > .disabled > a:hover,
.navbar-pink .navbar-nav > .disabled > a:focus {
  color: #ebc1c1;
  background-color: transparent;
}
.navbar-pink .navbar-toggle {
  border-color: #ff8196;
}
.navbar-pink .navbar-toggle:hover,
.navbar-pink .navbar-toggle:focus {
  background-color: #ff8196;
}
.navbar-pink .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-pink .navbar-collapse,
.navbar-pink .navbar-form {
  border-color: #ffc3cd;
}
.navbar-pink .navbar-nav > .open > a,
.navbar-pink .navbar-nav > .open > a:hover,
.navbar-pink .navbar-nav > .open > a:focus {
  background-color: #ffb4c0;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-pink .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #ffb4c0;
  }
  .navbar-pink .navbar-nav .open .dropdown-menu .divider {
    background-color: #ffb4c0;
  }
  .navbar-pink .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .navbar-pink .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-pink .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f59090;
    background-color: transparent;
  }
  .navbar-pink .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-pink .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-pink .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ffb4c0;
  }
  .navbar-pink .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-pink .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-pink .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ebc1c1;
    background-color: transparent;
  }
}
.navbar-pink .navbar-link {
  color: #999999;
}
.navbar-pink .navbar-link:hover {
  color: #f59090;
}
.navbar-pink .btn-link {
  color: #999999;
}
.navbar-pink .btn-link:hover,
.navbar-pink .btn-link:focus {
  color: #f59090;
}
.navbar-pink .btn-link[disabled]:hover,
fieldset[disabled] .navbar-pink .btn-link:hover,
.navbar-pink .btn-link[disabled]:focus,
fieldset[disabled] .navbar-pink .btn-link:focus {
  color: #ebc1c1;
}
